/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

h1 {
	color: #ccc;

	&:hover {
		color: blue;
	};
}

.item-wrapper {
	position: relative;
}

.item-drag-icon {
	position: absolute;
	top: 15px;
	right: 10px;
	&:hover {
		cursor: pointer;
		opacity: .8;
	};
}
